.tablemenusContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 185px;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 10px #D8D8D8;
    background-color: #fff;
    ul {
        margin: 0;
        padding: 3px 0;
        li {
            display: block;
            width: 100%;
            padding: 4px 10px;
            img {
                margin-right: 5px;
            }
        }
        li:hover {
            cursor: pointer;
            background-color: #E1E1E1;
        }
    }
    ul.line {
        border-bottom: 1px solid #EEEEEE;
    }
}